html,
body {
    height: 100%;
    margin: 0;
    background: #1e1f29;
    overflow: hidden;
}

.xterm-viewport {
    scrollbar-width: none;
}

.xterm-viewport::-webkit-scrollbar {
    display: none;
}

.xterm-cursor-layer {
    filter: drop-shadow(0 0 6px #f8f8f2);
}

.xterm {
    font-family: "Jetbrains Mono", monospace;
    font-size: 15px;
    line-height: 1.4;
    text-shadow: 0 0 2px rgba(248, 248, 242, 0.15);
}

.terminal-wrapper {
    width: 92%;
    height: 90%;
    margin: auto;
    margin-top: 3vh;
    background: #282a36;
    border-radius: 12px;
    box-shadow:
        0 0 0 1px rgba(189, 147, 249, 0.2),
        0 20px 60px rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.terminal-header {
    height: 38px;
    background: #21222c;
    display: flex;
    align-items: center;
    padding: 0 12px;
    gap: 8px;
    font-family: system-ui;
    font-size: 12px;
    color: #bd93f9;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.red {
    background: #ff5555;
}

.yellow {
    background: #f1fa8c;
}

.green {
    background: #50fa7b;
}

.title {
    margin-left: 12px;
    opacity: 0.8;
}

#terminal {
    height: calc(100% - 38px);
    padding: 12px;
}

.crt {
    pointer-events: none;
    position: fixed;
    inset: 0;
    background: linear-gradient(
        rgba(255, 255, 255, 0.02) 50%,
        rgba(0, 0, 0, 0.02) 50%
    );
    background-size: 100% 3px;
    mix-blend-mode: overlay;
    opacity: 0.15;
}
